.flex-container{
    max-width: 550px;
    border: 2px solid black;
    display: flex;
}
.item-basis{
    background-color:coral;
    color: white;
    text-align: center;
    margin: 5px;

}
.bauto{
    flex-basis: auto;
}
.fg-0{
    flex-grow: 0;
}
.fg-1{
    flex-grow: 1;
}
.fg-2{
    flex-grow: 2;
}
.fg-3{
    flex-grow: 3;
}
.b0{
    flex-basis: 0;
}
.w100{
    flex-basis: 100px;
}
.item-shrink{
    background-color:orangered;
    color: white;
    text-align: center;
    margin: 5px;
    font-size:22px;

}
.shr-1{
    flex-shrink: 1;
}
.shr-0{
    flex-shrink: 0;
}
.shr-2{
    flex-shrink: 2;
}
.flex-1{
    flex: 1;
}
.flex-2{
    flex:2;
}