*{
    margin:0;
    padding:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul{
list-style:none;
margin:5px;
padding: 0;
}
ul li a{
    text-decoration: none;
}

div img{
    display: block;
    width: 100%;
    min-width:350px;
}
.flex-container-jr{
    display:flex;
    max-width: 992px;
    margin:auto;
    width: 100%;
}
header{
    background-color:#122a52;
    color:aliceblue;
    padding: 10px 10px;
    display: flex;
    height: 100px;
    align-items:center;
}
.list-itens{
    display: flex;
    max-width: 300px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.list-itens li a{
    color:aliceblue;
}
.menu{
    justify-content: space-between;
}
.apresentação{
    height:100vh;
    align-items:center;
    justify-content: space-between;
}
.texto-apre{
    min-height: 200px;
}
.texto-apre h1{
    color: #122A57;
    font-size: 45px;
    margin-top: 10px;
}
.texto-apre a{
    background-color: #122A57;
    color: aliceblue;
    text-align: center;
    border-radius:35px;
    width: 230px;
    display: block;
    padding: 10px;
    text-decoration: none;
    margin: 10px 0;
}
.menorimg{
    width:80%;
}
#quemsou{
    justify-content: space-between;
    align-items: center;
}
#quemsou h2{
    font-size: 34px;
    color: #122A57;
    display:flex;
    margin-bottom: 20px;
    margin-right: 10px;
}
#quemsou h2::before{
    content: "";
    height: 70px;
    width: 10px;
    margin-right: 7px;
    background-color: #122A57;
    position: relative;
}
#quemsou p{
    margin-bottom: 10px;
    width: 90%;
}
.alerta:Hover{
   font-size: 120px;
   color: red;
   transition:2s;
}
.container-externo{
    background-color: #122A57;
    width:100%;
}
#trabalho{
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 45px;
}
#trabalho h2{
    color: white;
    font-size:30px;
    margin-bottom: 15px;
}
.list-trab{
    display: flex;
    justify-content: space-between;
}
.item-trab{
    text-align: center;
    
}
.item-trab a{
    width: 100px;
    background-color:aliceblue;
    border-radius:35px;
    height: 40px;
    display: block;
    text-align: center;
    padding:5px;
    line-height:40px;
    margin-top: 20px;
    text-decoration: none;
    font-size:18px;
    font-weight:700;
    
   
}
.item-trab p{
    color: aliceblue;
    font-size: 20px;
    margin-top: 25px;
    font-weight:700;
}
.item-trab img{
    width: 65%;
    margin: auto;
}

